<!DOCTYPE html> 
<html>
    <head>
        <title>RAG Chatbot</title> 
    </head>
    <body>
        <h2>RAG Chatbot</h2>
        <input type = "text" id = "message" placeholder = "Ask Something ..."/>
        <button onclick = "sendMessage()">Send</button> 
        
        <p id = "response"></p> 

        <script>
            let user_id = localStorage.getItem("user_id") ; 
            
            if(!user_id)
        {
            user_id = "user_" + Math.random().toString(36).substring(2) ; 
        } ; 
        localStorage.setItem("user_id" , user_id) ; 

        async function sendMessage() 
        {
            let msg = document.getElementById("message").value ; 

            let res = await fetch("/chat" , 
                {
                    method : "POST" , 
                    headers : {"Content-Type":"application/json"} , 
                    body : JSON.stringify(
                        {
                            message : msg , 
                            user_id : user_id 
                        })
                }
            ) ; 

            let data = await res.json() ; 

            document.getElementById("response").innerText = data.answer ; 
        }
        </script> 
    </body> 
</html> 
